.livro{
  margin-top: -13px;
}

.formulario{
  margin-top: 10%;
  position: absolute;
  color:#624141;
  margin-left: 57%;
  top: 100px;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  font-family: optima;
}

.cadastrarlivro{
 margin-top: 76%;
  position: absolute;
  margin-left: 30%;
  top: 100px;
  border-radius: 16px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #624141;
  padding: 7px 32px;
  border-width:1px;
  border-color:black;
  transition-duration: 0.4s;
}

.box{
  background-color: #ededed;
  font-family: optima;
  border-radius: 12px;
  width: 400px;
  height: 26px;
  border-width:1px;
  border-color: #624141;
}

.cadastrarlivro:hover {
  background-color:  #796767;
  color: white;
  cursor:pointer;
  box-shadow: 0 0 45px #8f7070;
}

