.caixa{
  background-image: url("/images/livroE.png");
  background-size: 100% 100%;
  width:80%;
  padding: 2rem 0;
  border-radius: 20px;
  display: flex;
  color: white;
  margin-top: 40px;
  margin-left: 10%;
}

.deletar{
  margin-left: 60%;
  border-radius: 16px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #A79595;
  width:12%;
  height: 30px;
  border-width:2px;
  border-color:#e0e0e0;
  transition-duration: 0.4s;
}



